/*
!/src
!/exp
!.gitignore
/src/*
!/src/internet
!/src/net-routing
!/src/topology
/exp/*
!/exp/leaf-spine
/src/internet/*
/src/net-routing/*
/src/topology/*
/exp/leaf-spine/*
!/src/internet/model
!/src/net-routing/ecmp-leaf-spine
!/exp/leaf-spine/ooo
!/src/topology/model
/exp/leaf-spine/ooo/*
/src/net-routing/ecmp-leaf-spine/*
!/src/net-routing/ecmp-leaf-spine/ecmp-leaf-spine-routing-protocol.cc
!/exp/leaf-spine/ooo/run.py
!/exp/leaf-spine/ooo/real_trace.tr
/src/topology/model/*
!/src/topology/model/leaf-spine-topology-helper.cc
